DentalSystem/.vs/
DentalSystem/DentalSystem/obj/
DentalSystem/DentalSystem.Entities/bin/
DentalSystem/DentalSystem.Entities/obj/
DentalSystem/DentalSystem.Repositories/bin/
DentalSystem/DentalSystem.Services/bin/
DentalSystem/DentalSystem.Services/obj/
DentalSystem/DentalSystem/bin/
DentalSystem/DentalSystem.Repositories/obj/
DentalSystem/DentalSystem.Contract.Repositories/bin/Debug/DentalSystem.Contract.Repositories.dll
DentalSystem/DentalSystem.Contract.Repositories/obj/Debug/DentalSystem.Contract.Repositories.dll
DentalSystem/DentalSystem.Contract.Repositories/obj/Debug/DentalSystem.Contract.Repositories.pdb
DentalSystem/DentalSystem.Contract.Repositories/bin/Debug/DentalSystem.Contract.Repositories.pdb
DentalSystem/DentalSystem.Contract.Services/obj/Debug/DentalSystem.Contract.Services.dll
DentalSystem/DentalSystem.Contract.Services/obj/Debug/DentalSystem.Contract.Services.pdb
DentalSystem/DentalSystem.Contract.Services/obj/
DentalSystem/DentalSystem.Contract.Services/bin/
DentalSystem/DentalSystem.Contract.Repositories/obj/
